* {
    padding: 0px;
    margin: auto;
}

header {
    padding: 20px;
    background-color: #ed5a6b8a;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}

body {
    background-position: absolute;
}

header>h1 {
    color: #000000;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.445);
}

a {
    text-decoration: none;

}

a:hover {
    background-color: #0004ff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.459);
    border-radius: 100px;
}

a.navegation {
    color: white;
    padding-left: 10px;
    padding-right: 10px;

}

main {
    background-color: white;
    font-family: 'Rajdhani', sans-serif;
}

section {
    padding: 100px;
   
}

.magi {
    background-color: darkgrey;
}

.amul {
    background-color: aquamarine;
}

.brux {
    background-color: darkgrey;
}

.ritu {
    background-color: aquamarine;
}

.feit {
    background-color: darkgrey;
}

img.imagens {
    width: 300px;

}


/* #fbb04d */