* {
    padding: 0px;
    margin: auto;
}

:root {
    --cor-dark-liver: #514A50;
    --cor-blast-off-bronze: #A77667;
    --cor-salmon: #F38A79;
    --cor-desert-sand: #EFC4A9;
    --cor-bright-lilac: #D089FF;
}

header {
    padding: 20px;
    background-color: var(--cor-bright-lilac);
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}

body {
    background-position: absolute;
}

header>h1 {
    font-size: 3em;
    color: black;
    text-shadow: 1px 1px 3px var(--cor-dark-liver);
}

nav {
    font-size: 1.2;
}

a {
    text-decoration: none;

}

a:hover {
    background-color: rgba(255, 255, 255, 0.459);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.459);
    border-radius: 100px;
}

a.navegation {
    color: var(--cor-dark-liver);
    padding-left: 10px;
    padding-right: 10px;

}

main {
    background-color: white;
    font-family: 'Rajdhani', sans-serif;
}

section {
    padding: 80px 200px 80px 200px;
}
/*preciso arrumar o padding está muito espaçado quando fica em tela pequena*/ 

.magi {
    background-color: var(--cor-salmon);
}

.amul {
    background-color: var(--cor-bright-lilac);
}

.brux {
    background-color: var(--cor-dark-liver);
}

.ritu {
    background-color: var(--cor-salmon);
}

.feit {
    background-color: var(--cor-bright-lilac);
}

img {
        width: 400px;
}

footer {
    text-align: center;
    color: white;
    background-color: var(--cor-dark-liver);
    /*arrumar o nome Thays Figueiredo para ficar sem decoração do link*/
}
